/* .App{
  display: flex;
}
.register-container{
  padding: 50px;
  flex: 1;
}
.cart-container{
  padding: 50px;
  flex: 1;
}
.progress-container{
  display: flex;
  align-items: center;
  
}

.progress-bar{
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 20px;
}

.progress-group{
  display: flex;
  align-items: baseline;
}
.progress-icon{
  margin-right: 3px;
}
.progress-control{
  display: flex;
} */
